*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --boolando-primary: #ff6900;

}

header{
    background-color: var(--boolando-primary);
    padding: 10px;
    

    a{
        text-decoration: none;
        color: white;
        padding: 3px;
    }

    i{
        color: white;
        padding: 3px;
    }

    .gender{
        font-weight: 600;
    }
    
}

.container{
    width: 80%;
    margin: auto;
}


.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    padding: 40px;
    gap: 15px;

    img{
        max-width: 100%;
    }
    
    .item{
        position: relative;
        width: 350px;
    }

    .fa-heart{
        position: absolute;
        top: 10px;
        right: 0;
        background-color: white;
        padding: 10px;
    }

    .discount{
        left: 0;
        background-color: red;
        color: white;
    }

    .sustainability{
        left: 50px;
        background-color: green;
        color: white;
    }

    .last-sustainability{
        left: 0;
    }
}

/* Utilities */
.p-f{
    position: absolute;
    bottom: 100px;
    color: white;
    padding: 3px 10px;
    font-size: 11px;
}

.red{
    color: red;
    font-weight: bold;
}

.line{
    text-decoration: line-through;
}
